.greenFinish
  background: greenyellow

.redFinish
  background: red

.neutralFinish
  background: yellow

.alertWeapon
  background: crimson

.CPUalert
  background: red

.CPUalertVisible
  display: block

.DRAWalert
  background: yellow
  color: black

.DRAWalertVisible
  display: block

.YOUalert
  background: greenyellow
  color: black

.YOUalertVisible
  display: block

.alertWeaponVisible
  display: block