html {
  margin: 0;
}

body {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  height: 0;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat Subrayada", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
}
a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: white;
  width: 0;
  height: 2px;
  transition: all 0.2s ease-in-out;
}
a:hover::before {
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.Title {
  font-size: 2.5em;
  color: white;
}

header {
  color: white;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), URL("BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 30%;
}

.head {
  height: 90%;
  margin: 1em 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.head ul {
  display: flex;
  list-style-type: none;
}
.head ul li {
  margin: 0 1em;
}

.wrapper {
  margin: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cell {
  border-radius: 4px;
  background: aquamarine;
  height: 3.8em;
  width: 3.8em;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: all 0.3s;
}
.cell:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

.clicked {
  background: aqua;
  transition: all 0.2s ease-out;
}

.icon {
  animation-name: rotate;
  animation-duration: 0.4s;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.weapons {
  display: flex;
}

.weapon {
  padding: 0.2em;
  border-radius: 4px;
  margin: 0.4em;
  background: rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.weapon:hover {
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-out;
}

.selectedWeapon {
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-out;
}

button {
  background: transparent;
  border: 1px solid black;
  padding: 1em;
  font-family: "Montserrat Subrayada", sans-serif;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background: black;
  color: white;
  transition: all 0.3s ease-in-out;
}

.alert {
  animation-name: pop-up;
  animation-duration: 0.3s;
  padding: 1em;
  color: white;
  border-radius: 4px;
  display: none;
}

.alertWeaponVisible {
  display: block;
}

.alertWeapon {
  background: crimson;
}

.CPUalert {
  background: red;
}

.CPUalertVisible {
  display: block;
}

.DRAWalert {
  background: yellow;
  color: black;
}

.DRAWalertVisible {
  display: block;
}

.YOUalert {
  background: greenyellow;
  color: black;
}

.YOUalertVisible {
  display: block;
}

@keyframes pop-up {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
footer {
  text-align: center;
}

.clickedAI {
  background: beige;
  transition: all 0.2s ease-out;
}

/*# sourceMappingURL=style.css.map */
